[submodule "Tic-Tac-Toe-Server"]
	path = Tic-Tac-Toe-Server
	url = https://github.com/Heba-Elnaghy/Tic-Tac-Toe-Server
[submodule "server"]
	path = server
	url = https://github.com/Heba-Elnaghy/Tic-Tac-Toe-Server
